input:focus {
  outline: none;
}

.experienceForm {
  border: 1px solid black;
}

.form {
  background: white;
  border: 1px solid papayawhip;
  border-radius: 10px;
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px 10px;
  width: max-content;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px;
  width: 50%;
  margin-left: 5px;
  font-size: 8px;
}

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 5px;
  color: palevioletred;
}

label span {
  color: black;
  margin-left: 5px;
}

.btn {
  padding: 3px 10px;
  font-size: 6px;
  background-color: rgb(248, 102, 102);
  border-radius: 5px;
  color: white;
  border: none;
}

.btn:hover {
  border: 1px solid black;
}

fieldset {
  border: 1px solid black;
  border-radius: 5px;
}

.personalInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
